<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navigation %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>